.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
    filter: none;
  }

  // Modifiers
  &--primary {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
    max-width: 130px;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.2) brightness(110%);
    }
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      filter: brightness(92%);
    }
  }

  &--dark {
    color: var(--color-white);
    border-color: var(--color-dark);
    background-color: var(--color-dark);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
    }
  }

  &--new_meal {
    font-size: var(--font-size-xxl);
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-round);
    border: solid 4px var(--color-secondary);
    padding: 0 var(--space-s) var(--space-xxxxs) var(--space-s);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-secondary);
      background-color: var(--color-white);
    }
  }

  &--navbar {
    border-radius: 0;
    color: var(--color-dark);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      border-bottom: solid 2px var(--color-dark);
    }
  }

  &--remove {
    max-height: 25px;
    max-width: 20px;
    background-color: transparent;
    color: var(--color-warning);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}